.App {
  text-align: center;
  margin-bottom: 100px;
}
body { 
  font-family: 'Roboto Slab', serif; 
   /* Use 'Mukta' as the primary font */
}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* font-family: 'Mukta', sans-serif;
font-family: 'Roboto Slab', serif; */
/*dark gray   background-color: #333; */
/* dark blue background-color: #142e60; */