/* Scores.css */
.my-scores-container {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  padding: 20px;
  background-color: whitesmoke;  
  border-radius: 5px;
}

.scores-table {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
  margin: 5% 0;
}

.team-column,
.vs-column,
.opponent-column {
    
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: justify;
}

.vs-column {
  background-color: #333; 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}