/* Styles for MyScores component */
.my-scores-container {
  
  width: 100%;

}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.scores-table {
  display: flex;
  margin: 0 auto
 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

/* Scrollable player performance cards */
.scrollable-card-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Additional styles for player performance cards */
.player-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.player-card h2 {
  margin: 0;
}

.player-card p {
  margin: 5px 0;
}

/* Style for the team name header */
.team-header {
  background-color: #333;
  color: white;
  padding: 10px;
  font-weight: bold;
}