/* Navbar Container */
.navbar {  
  display: flex;
  justify-content: space-between;
  background-color: #142e60;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  margin: 0 auto;
  bottom: 0; 
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

/* Desktop Menu */
.desktop-menu {
  display: flex;
  justify-content: space-between; 
  text-align: center;
  margin: 0 auto;
  
}

.desktop-menu .menu-item {  
  cursor: pointer;
  transition: color 0.2s;
  background-color: #142e60;
  color: white;
  text-decoration: none;
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; 
}
.rights:hover {
  background-color: #142e60;
  background-color: #4caf50;
  font-size: large;
}

.desktop-menu .menu-item:hover {
  color: #4caf50;
  font-size: larger;
}

.menu-item:hover .menu-icon,
.menu-item.active .menu-icon {
  fill: #4caf50; 
}

/* Footer.css */
.footer {
  background-color: #142e60;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 1; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social Icons */
.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin-right: 20px;
  font-size: 24px;
  color: whitesmoke;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}
.footer-items p svg {
  margin-right: 5px;
  font-size: 16px;
}
