/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #142e60;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  margin: 0 auto;
  bottom: 0; 
  z-index: 1;
  width: 100%;
}

/* Logo */
.logo {
  font-size: 24px;
  color: rgb(144, 216, 238);
}

/* Desktop Menu */
.desktop-menu {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  text-align: center;
  margin: 0 auto;
  
}

.desktop-menu .menu-item {
  cursor: pointer;
  transition: color 0.2s;
  background-color: #142e60;
  color: white;
  text-decoration: none;
  flex-grow: 1; /* Grow and evenly space the menu items */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; /* Add padding to space out items */
}
.rights:hover {
  background-color: #142e60;
  color: rgb(13, 234, 13);
  font-size: large;
}

.desktop-menu .menu-item:hover {
  color: rgb(13, 234, 13);
  font-size: large;
}

/* Active Menu Item */
.desktop-menu .menu-item.active {
  color: rgb(13, 234, 13); 
  background-color: #142e60; }

/* Footer.css */
.footer {
  background-color: #142e60;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 1; /* Ensure the footer is above other content */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social Icons */
.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin-right: 20px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}

/* Copyright Icon */
.footer-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.footer-items p svg {
  margin-right: 5px;
  font-size: 16px;
}
