body {
    background-color: #d3cdcd;
    margin: 0 10%;
  
}
input#search{
    background-color: whitesmoke; 
}
.news-container {   
  text-align: center;
  overflow: hidden;
  position: relative;
}

.news-card-container {  
  display: flex;
  position: relative;
  overflow-wrap: break-word;

}
div .news-section{
  font-family: 'Mukta', sans-serif;
  background-color: white; 
}
.news-row-wrapper {
  display: flex;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
  justify-content: center; 
}

/* Styles for the news row */
.news-row {
  background-color: #142e60; 
  display: flex;
  overflow-x: auto; 
  white-space: nowrap; 
  padding: 5px; 
}

/* Styles for each news section */
.news-section {
  flex: 0 0 calc(33.33% - 20px);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column; 
}
div.news-section {
  background-color: whitesmoke;
}
/* Styles for the news image */
.news-section img {
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

/* Styles for the news headline */
.news-section h1 {
  padding: 10px;
  font-size: 20px; 
  color: #142e60; 
  white-space: break-spaces; 
}

/* Styles for the news description */
.news-section p {
  padding: 10px;
  font-size: 16px; 
  color: #333; 
  white-space: break-spaces; 
  overflow: hidden;
  text-overflow: ellipsis; 
}



